{% extends 'base.html' %}

{% block title %}
<title>SOS resgatados</title>
{% endblock %}

{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Nazarenos</h1>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-3">
      <div id="" class="vstack gap-2">
        {% for field in page.fields %}
          <select id="{{ field.id }}" class="form-select" aria-label="Default select example">
            <option selected>{{ field.name }}</option>
            {% for option in field.options %}
              <option value="{{ option.value }}">{{ option.name }}</option>
            {% endfor %}
          </select>
        {% endfor %}
        <button type="button" class="btn btn-primary">Limpar</button>
      </div>
    </div>
    
    <div class="col col-lg-9 row">
      {% set animals = page.animals %}
      {% include 'components/animalList.html' %}
    </div>
    <!-- ./row -->
  </div>
</div>
{% endblock %}