{% extends 'base.html' %}

{% block title %}
<title>SOS resgatados</title>
{% endblock %}

{% block content %}
<section class="jumbotron text-center mb-3">
  <div class="container">
    <h1 class="jumbotron-heading">{{ labels.search_title }}</h1>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-3 mb-3">
      <div id="search-form" class="vstack gap-2">
        {% for field in page.fields %}
        <select id="{{ field.id }}" name="{{ field.id }}" class="form-select" aria-label="Default select example" onchange="search()">
          <option value="" selected>{{ field.name }}</option>
          {% for option in field.options %}
          <option value="{{ option.value }}">{{ option.name }}</option>
          {% endfor %}
        </select>
        {% endfor %}
        <button type="button" class="btn btn-primary" onclick="onClear();search();">{{ labels.clear }}</button>
      </div>
    </div>

    <div id="animals-grid" class="col col-lg-9 row">
      {% set animals = page.animals %}
      {% include 'components/animalList.html' %}
    </div>
    <!-- ./row -->
  </div>
  {% include 'components/animalDetailModal.html' %}
</div>
{% endblock %}

{% block page_scripts %}
<script>
  const animalModal = new bootstrap.Modal(document.getElementById("animal-detail-modal"), {});

  function onClear() {
    $("#search-form select").val("");
  }

  function search() {
    var serial = $("#search-form").children().serialize();
    $.get("/query?"+serial, onAnimalQuery);
  }

  function onAnimalQuery(data)
  {
    $("#animals-grid").html(data);
  }

  function onAnimalClick(id)
  {
    $.get("/animal/"+id, onAnimalDetail);
  }
  
  function onAnimalDetail(data)
  {
    console.log(data);
    $(".animal-image").attr("src", "/static/images/animals/" + data.name + "/1.jpeg");
    $(".animal-name").text(data.name);
    $(".animal-gender").text(data.gender);
    $(".animal-type").text(data.type);
    $(".animal-age").text(new Date().getFullYear() - data.ageOfBirth);
    $(".animal-size").text(data.size);
    animalModal.show();
  }
</script>
{% endblock %}